<mat-drawer-container class="drawer-container" [hasBackdrop]="true">
  <mat-drawer #drawer mode="over">
    <ul>
      <li>Users</li>
    </ul>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar class="toolbar" color="primary">
      <button
        mat-icon-button
        class="drawer-toggle-button"
        aria-label="Toggle Drawer"
        (click)="drawer.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
      <span class="example-spacer"></span>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Logout button"
        (click)="logout()"
      >
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>
    <div class="sidebar">Sidebar</div>
    <happy-coding-challenge-user-table
      class="user-table"
    ></happy-coding-challenge-user-table>
  </mat-drawer-content>
</mat-drawer-container>
