mat-drawer-content {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: max-content auto;
  grid-template-areas:
    'toolbar toolbar'
    'user-table user-table';
  width: 100%;

  @media screen and (min-width: 768px) {
    grid-template-areas:
      'toolbar toolbar'
      'sidebar user-table';

    .sidebar {
      display: block;
    }
  }
}

.drawer-container {
  display: flex;
  height: 100vh;
}

.example-spacer {
  flex: 1 1 auto;
}

.toolbar {
  grid-area: toolbar;

  .drawer-toggle-button {
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
}
.sidebar {
  display: none;
  grid-area: sidebar;
}
.user-table {
  grid-area: user-table;
  overflow: scroll;
}
