<div class="user-dialog">
  <div mat-dialog-title>User Form</div>
  <form [formGroup]="dialogForm" (ngSubmit)="onFormSubmit()">
    <mat-dialog-content class="user-dialog__content">
      <mat-form-field appearance="fill" aria-required="true">
        <mat-label>First Name</mat-label>
        <input matInput type="text" required formControlName="firstname" />
        <mat-error *ngIf="throwFormError('firstname', 'required')"
          >First Name is required</mat-error
        >
        <mat-error *ngIf="throwFormError('firstname', 'maxlength')"
          >Limit of 50 characters exeeded</mat-error
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput type="text" required formControlName="lastname" />
        <mat-error *ngIf="throwFormError('lastname', 'required')"
          >Last Name is required</mat-error
        >
        <mat-error *ngIf="throwFormError('lastname', 'maxlength')"
          >Limit of 50 characters exeeded</mat-error
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email" required formControlName="email" />
        <mat-error *ngIf="throwFormError('email', 'required')"
          >Email is required</mat-error
        >
        <mat-error *ngIf="throwFormError('email', 'email')"
          >Email needs to be valid</mat-error
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" required formControlName="password" />
        <mat-error *ngIf="throwFormError('password', 'required')"
          >Password is required</mat-error
        >
        <mat-error *ngIf="throwFormError('password', 'minlength')"
          >Password should be at least 5 characters</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Date of birth</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="dateOfBirth"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions class="user-dialog__actions">
      <button mat-raised-button type="button" [mat-dialog-close]="false">
        Cancel
      </button>
      <button mat-raised-button color="primary" type="submit">
        {{ userData ? 'Update' : 'Create' }}
      </button>
    </mat-dialog-actions>
  </form>
</div>
