<div class="dialog">
  <h1 class="dialog-title"></h1>
</div>

<div mat-dialog-title>User Form</div>
<form [formGroup]="dialogForm" (ngSubmit)="onFormSubmit()">
  <mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>First Name</mat-label>
      <input matInput type="text" formControlName="firstname" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input matInput type="text" formControlName="lastname" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Date of birth</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button (click)="closeDialog()">Cancel</button>
    <button mat-raised-button color="primary">Save</button>
  </mat-dialog-actions>
</form>
